<%= form_tag(root_url, method: "get") do %>

  <%= label_tag(:departure_airport_id, "Departure airport:") %>
  <%= select_tag(:departure_airport_id, options_for_select(@airport_options,
                 @departure_airport_choice)) %>
  
  <%= label_tag(:arrival_airport_id, "Arrival airport:") %>
  <%= select_tag(:arrival_airport_id, options_for_select(@airport_options,
                 @arrival_airport_choice)) %>
  
  <%= label_tag(:departure_time, "Departure date:") %>
  <%= select_tag(:departure_time, options_for_select(@departure_options, 
                 @depart_date_choice)) %>
  
  <%= label_tag(:passengers, "Number of passengers") %>
  <%= select_tag(:passengers, options_for_select(@passenger_options,
                 @passengers_choice)) %>
  
  <%= submit_tag "Search" %>

<% end %>


<table class = "table table-hover">
   <caption>Book a flight</caption>
   
   <thead>
      <tr>
				<th></th>
				<th>Flight No:</th>
				<th>Departing From:</th>
				<th>Destination</th>
				<th>Date:</th>
				<th>Time:</th>
			</tr>
	</thead>
	
	<%= form_tag(new_booking_path, method: "get") do %>
	
	  <tbody>
	  
	    <% @flights.each do |flight| %>
	      <tr>
	        <td><%= radio_button_tag(:flight_id, flight.id, class: "flight_select")  %></td>
					<td><%= flight.id %></td>
					<td><%= flight.departure_airport.airport_code %></td>
					<td><%= flight.arrival_airport.airport_code %></td>
					<td><%= flight.departure_time.strftime("%d/%m/%Y") %></td>
					<td><%= flight.departure_time.strftime("%H:%M") %></td>
				</tr>
			<% end %>

    </tbody>

</table>
<%= hidden_field_tag(:passengers, (params[:passengers])) %>
<%= submit_tag("Book this flight") %>

<% end %>
  
